:root {
  --c-bg: #ffffff;
  --c-accent: #FF6C00;
  --c-base: #000000;
}

* {
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

body {
  background-color: var(--c-bg);
  color: var(--c-base);
}

p {
  color: var(--c-base);
  margin: 1em auto;
  line-height: 1.4em;
  font-size: 18px;
  max-width: 800px;
}

a {
  color: var(--c-accent);
  text-decoration: none;
}

h1 {
  color: var(--c-accent);
  text-align: center;
  margin: 2em 0 0;
  position: relative;
}

h1 span {
  position: relative;
  z-index: 2;
}

h2 {
  color: var(--c-base);
  text-align: center;
  margin: 2.5em 0 1em;
  position: relative;
}

h3 {
  color: var(--c-base);
  margin: 2em auto 0.5em;
  max-width: 800px;
}

h4 {
  color: var(--c-base);
  font-size: 18px;
  margin: 2em auto 0.5em;
  max-width: 800px;
}

nav {
  background-color: var(--c-bg);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  color: var(--c-accent);
  text-align: center;
  padding: 16px 16px 0px 16px;
  text-decoration: none;
}

nav li.active a {
  font-weight: bold;
}

@media (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    display: inline-block;
    margin: 5px 5px 0px 5px;
  }
}



.button,
.button:visited {
  display: inline-block;
  background-color: var(--c-accent);
  color: var(--c-bg);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.125rem;
}

.recent-tracks {

}

.track-grid {
  display: grid;
  gap: 35px;
  max-width: 800px;
  margin: 0 auto;
  justify-items: center;
}

@media (min-width: 600px) {
  .track-grid {  grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 800px) {
  .track-grid {  grid-template-columns: repeat(3, 1fr); }
}

.track-list {
  margin: 0 20px;
}

.track {
  border-radius: 5px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 200px;
}

.track_content {
  margin-top: 5px;
}
.track_link {
  text-decoration: none;
  color: var(--c-accent);
}
.track_artist {
  color: var(--c-accent);
  text-align: left;
  font-size: 16px;
  margin: 0;
}
.track_name {
  font-size: 15px;
  margin: 0;
  color: var(--c-base);
}
.track_album {
  font-size: 14px;
  margin: 0;
  font-style: italic;
}
.track_none {
  margin: 0 auto;
  font-size: 18px;
  max-width: 800px;
}

.track_video {
  margin: 0 auto;
  font-size: 18px;
  max-width: 500px;
}

.track_image {
  position: relative;
  max-width: 200px;
  border-radius: 10px;
  z-index: 2;
}

.track_image:hover {
  transition: all 180ms ease-in-out;
  transform: translateY(-5px) rotate(-5deg);
}

.track_ol {
  margin: 0.1em auto 0;
  font-size: 18px;
  line-height: 1.4em;
  max-width: 800px;
}

.track_ul {
  margin: 0.4em auto 1.5em;
  font-size: 18px;
  line-height: 1.4em;
  max-width: 800px;
  overflow: auto;
}

.track_ul img {
  float: left;
  max-width: 150px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.no-wrap-text {
  overflow: hidden;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .track_ul img {
    float: none;
    display: block;
    margin-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .no-wrap-text {
    text-align: left;
  }
}

.track_recent {
  margin: 0.2em auto;
  font-size: 18px;
  line-height: 1.2em;
  max-width: 800px;
}

.footer {
  color: var(--c-base);
  position: block;
  margin: 5em auto;
  text-align: center;
  line-height: 1.5em;
  max-width: 800px;
}

.footer p {
  font-size: 16px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-holder {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 338px;
}

.spotify-iframe {
  display: block;
  border-radius:12px;
  max-width: 600px;
  margin: 0 auto;
}

.error-message {
  color: red;
  text-align: center;
}
