:root {
  --c-bg: #ffffff;
  --c-accent: #FF6C00;
  --c-base: #000000;
}

* {
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

body {
  background-color: var(--c-bg);
  color: var(--c-base);
}

p {
  color: var(--c-base);
  margin: 1em auto;
  line-height: 1.5em;
  max-width: 750px;
}

a {
  color: var(--c-accent);
}

h1 {
  color: var(--c-accent);
  text-align: center;
  margin: 3em 0 1em;
  position: relative;
}

h1 span {
  position: relative;
  z-index: 2;
}

h2 {
  color: var(--c-base);
  text-align: center;
  margin: 3em 0 1em;
  position: relative;
}

.button,
.button:visited {
  display: inline-block;
  background-color: var(--c-accent);
  color: var(--c-bg);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.125rem;
}

.recent-tracks {

}

.track-grid {
  display: grid;
  gap: 35px;
  max-width: 800px;
  margin: 0 auto;
  justify-items: center;
}

@media (min-width: 600px) {
  .track-grid {  grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .track-grid {  grid-template-columns: repeat(3, 1fr); }
}

.track-list {
  margin: 0 20px;
}

.track {
  border-radius: 5px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 200px;
}

.track_content {
  margin-top: 5px;
}
.track_link {
  text-decoration: none;
  color: var(--c-accent);
}
.track_artist {
  color: var(--c-accent);
  text-align: left;
  font-size: 1rem;
  margin: 0;
}
.track_name {
  font-size: 14px;
  margin: 0;
  color: var(--c-accent);
}
.track_album {
  font-size: 12px;
  margin: 0;
  font-style: italic;
}
.track_none {
  margin: 0 auto;
  max-width: 800px;
}
.track_image {
  position: relative;
  max-width: 200px;
  border-radius: 10px;
  z-index: 2;
}
.track:hover {
  z-index: 5;
}
.track:hover .track_image {
  transition: all 180ms ease-in-out;
  transform: translateY(-5px) rotate(-5deg);
}

.footer {
  color: var(--c-base);
  font-size:20px;
  position: block;
  margin: 5em auto 10em;
  line-height: 1.5em;
  max-width: 800px;
}

